*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    height: 100vh;
    background: url(assests/img/A.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profil-card{
    width: 400px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
}

.card-header{
    background: #122f5798;
    padding: 60px 40px;
}

.pic {
    display: inline-block;
    padding: 10px;
    background: linear-gradient(150deg, #1f5297, #ffffff, #122f57);
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;
}

@keyframes animated-gradient{
    25%{
        background-position: left bottom;
    }
    50%{
        background-position: right bottom;
    }
    75%{
        background-position: right top;
    }
    100%{
        background-position: left top;
    }
}

.pic img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name{
    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
}

.desc{
    font-size: 18px;
    color: #ffffff;
}

.sm{
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin: 20px 10px;
    color: #ffffff;
}

.card-footer{
    color: #ffffff;
}

.contact{
    color: #ffffff;
    margin: 20px;
    border: 10px rgb(255, 255, 255);
}

.kotak{
    border: 3px solid white;
    display: inline-table;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}